body {
    font-family: 'Poppins', sans-serif;
}

.carous {
    margin-bottom: 10%;
}

.carous h1 {
    font-size: 4vw;
    font-weight: 600;
}

.carous p {
    font-weight: 300;
}

.carous-image {
    filter: brightness(40%);
}

.courses {
    margin-bottom: 10%;
}

.faq-section {
    margin-bottom: 10%;
}

.register-section {
    background-color: #289BDE;
    margin-bottom: 10%;
}

.register-section button {
    color: #289BDE;
}